
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../static/tstyle.css">
  
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="vh-100 d-flex justify-content-center align-items-center">
        <div class="circle-container">
            <div class="circle">
                <svg class="verified-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M9.293 16.293l-4-4a1 1 0 0 1 1.414-1.414L9 14.586l10.293-10.293a1 1 0 0 1 1.414 1.414l-11 11a1 1 0 0 1-1.414 0z"/>
                </svg>
            </div>
            <div class="text-container">
                <h1>Thank You For Message.</h1>
                <a  href="/pt100" class="btn btn-primary" >Back Home</a>
                <hr class="pink-line">
            
            </div>
            
        </div>
    </div>

</body>
</html>

